body {
  background-color: #e5f7f1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th[colspan] {
  background-color: #6b9bca;
  color: white;
}

tbody td {
  height: 40px;
}

thead th {
  background-color: #cce4f7;
  color: black;
}

thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(3) {
  background-color: #cce4f7;
  color: black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.task-table {
  width: 100%;
}
